In [8]:
pip install tqdm

Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (4.50.2)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import requests, bs4
import pandas as pd
from lxml import html #html.lxml 로 써진 것. 즉 html.lxml 로 써야하는 명령어를 lxml만써도 작동하게해줌.
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote
from pprint import pprint
import numpy as np
from tqdm import tqdm

In [24]:
column_names = []
dfold = pd.DataFrame(columns = column_names)

for year in tqdm(range(6,10)):
    for month in tqdm(range(1,13)):
        if month < 10 :
                
            
            df = pd.read_excel("trimdata/apt200"+str(year)+"0"+str(month)+ ".xlsx" )

            # 이전파일 건드리지 않으려면 반드시 copy로
            df1 = df.copy()

            # datetime으로 만들기

            df1["년월"] = df1["계약년월"].copy()
            #format=%Y%m 으로 포맷 바꿔주기.
            df1["년월"] = pd.to_datetime(df1["년월"], format='%Y%m', errors='ignore')

            # df1["년월"]
            # pd.to_datetime?
            # df1.info()


            # ,가 문자열에 있어서 to_numeric에서  인식이 안되므로 ,제거하기 
                # 성공! replace던 strip이던 컬럼에 적용할땐 항상 .str. 을 써야함을 잊지말것. 
            df1["금액"] =df1["거래금액(만원)"].copy()
            df1["금액"] = df1["금액"].str.replace(",","")


            # 문자열인 값 숫자로 변환하기 
            df1["금액"] =pd.to_numeric(df1["금액"])
            df1["면적"]=pd.to_numeric(df1["전용면적(㎡)"],errors ='coerce')
            df1["건축년도"]=pd.to_numeric(df1["건축년도"],errors ='coerce')


            #해제사유등 필요없는것 제거하기.

            # axis=1을 쓰면 열을 지우고 df.drop([0, 1], axis=0) 처럼 0을쓰면 인덱스(행)을 지움.
            # 주의 행의 이름은 B랑 C가 아닌 0 1인데 이는 스트링이 아니므로 ''없이 하면됨.
            df2 = df1.drop(["해제사유발생일", "계약년월","단지명","계약일","층","도로명","번지","본번","거래금액(만원)","전용면적(㎡)","부번"]
                        ,axis=1).copy()
            # df2


                
            #크기로 나누기
            df2.loc[(df2['면적'] >  60) & (df2['면적'] <= 85), '크기'] = '중형' 
            df2.loc[(df2['면적'] <=  60),'크기'] = '소형'
            df2.loc[(df2['면적'] > 85), '크기'] = '대형'
            #확인 
            df2['크기'].value_counts()


            #지역으로 나누기.
            df2["서울"] = df2["시군구"].str.contains("서울", case=False, na=False).astype(int)
            df2["서울"].sum()
            df2["대전"] = df2["시군구"].str.contains("대전", case=False, na=False).astype(int)
            df2["대전"].sum()

            location =[]
            location = ["강원도",     
                        "경기도"  ,  
                        "경상남도" ,    
                        "경상북도"  ,   
                        "광주광역"     ,
                        "대구광역"  ,
                        "대전광역"   ,
                        "부산광역"   ,
                        "서울특별"    ,
                        "세종특별",
                        "울산광역"    ,
                        "인천광역"    ,
                        "전라남도" ,    
                        "전라북도"  ,   
                        "제주특별"    ,
                        "충청남도" ,   
                        "충청북도"  ] 

            for i in location :
                df2[i] =  df2["시군구"].str.contains(i, case=False, na=False).astype(int)
                df2.loc[(df2[i] ==  1) , '지역'] = i


            #확인
            df2["지역"].value_counts()
            df2["강원도"].sum()+df2["경기도"].sum()+df2["경상남도"].sum()+df2["경상북도"].sum()+df2["광주광역"].sum()+df2["대구광역"].sum()+df2["대전광역"].sum()+df2["부산광역"].sum()+df2["서울특별"].sum()+df2["세종특별"].sum()+df2["울산광역"].sum()+df2["인천광역"].sum()+df2["전라남도"].sum()+df2["전라북도"].sum()+df2["제주특별"].sum()+df2["충청남도"].sum() +df2["충청북도"].sum()


            #강남 송파 서초 3구 따로 묶어보기 ..abs
            df2["강남구"] = df2["시군구"].str.contains("서울특별시 강남구", case=False, na=False).astype(int)
            df2["서초구"] = df2["시군구"].str.contains("서울특별시 서초구", case=False, na=False).astype(int)
            df2["송파구"] = df2["시군구"].str.contains("서울특별시 송파구", case=False, na=False).astype(int)
            df2.loc[(df2['강남구'] == 1) | (df2['서초구'] == 1) |  (df2['송파구'] == 1) , "강남3구"] = 1

            #Nan 0으로 만들기
            df2["강남3구"] = df2["강남3구"].fillna(0).copy()

            #확인하기 
            df2["강남3구"].value_counts()


            # 전체관측치와 각도별 관측치 갯수의합이 같은지 확인하기.
            df2["강원도"].sum()+df2["경기도"].sum()+df2["경상남도"].sum()+df2["경상북도"].sum()+df2["광주광역"].sum()+df2["대구광역"].sum()+df2["대전광역"].sum()+df2["부산광역"].sum()+df2["서울특별"].sum()+df2["세종특별"].sum()+df2["울산광역"].sum()+df2["인천광역"].sum()+df2["전라남도"].sum()+df2["전라북도"].sum()+df2["제주특별"].sum()+df2["충청남도"].sum() +df2["충청북도"].sum()

            #결과 확인
            df2.info()

            # 전체관측치와 각도별 관측치 갯수의합이 같은지 확인하기.
            df2["강원도"].sum()+df2["경기도"].sum()+df2["경상남도"].sum()+df2["경상북도"].sum()+df2["광주광역"].sum()+df2["대구광역"].sum()+df2["대전광역"].sum()+df2["부산광역"].sum()+df2["서울특별"].sum()+df2["세종특별"].sum()+df2["울산광역"].sum()+df2["인천광역"].sum()+df2["전라남도"].sum()+df2["전라북도"].sum()+df2["제주특별"].sum()+df2["충청남도"].sum() +df2["충청북도"].sum()


            ###  설명 시계열 데이터 변환작업 


            df3 = df2.groupby(["지역","크기"])["금액"].mean().unstack().round()
            df3.columns = ["대형평균","소형평균","중형평균"]
            df3 = df3.reindex(columns=["소형평균","중형평균","대형평균"])
          #  df3


            df4 = df2.groupby(["지역","크기"])["금액"].std().unstack().round()
            df4.columns = ["대형표준편차","소형표준편차","중형표준편차"]
            df4 = df4.reindex(columns=["소형표준편차","중형표준편차","대형표준편차"])
          #  df4

            column_names = []
            df5 = pd.DataFrame(columns = column_names)
            df5["지역평균"] = df2.groupby(["지역"])["금액"].mean().round().copy()

            df6 = pd.DataFrame(columns = column_names)
            df6["지역표준편차"] = df2.groupby(["지역"])["금액"].std().round().copy()

            df_last = pd.concat([df5,df3,df6,df4] , axis=1) #axis=1을 해야 옆에다 붙임즉 column에 붙임. 디폴트는 axis=0 이고 이렇게하면 row에 붙이는것. 
           # df_last

            # 인덱스 초기화하기
            df_r = df_last.reset_index()
           # df_r 

            #전국 붙이기 
            nat = []
            nat =["전국"]
            nat.append(df2["금액"].mean())
            nat.append(df2.groupby(["크기"])["금액"].mean()["소형"])
            nat.append(df2.groupby(["크기"])["금액"].mean()["중형"])
            nat.append(df2.groupby(["크기"])["금액"].mean()["대형"])
            nat.append(df2["금액"].std())
            nat.append(df2.groupby(["크기"])["금액"].std()["소형"])
            nat.append(df2.groupby(["크기"])["금액"].std()["중형"])
            nat.append(df2.groupby(["크기"])["금액"].std()["대형"])

            # nat

            #시간축만들기. 여기 루프넣어야함. 
            df_r.loc[17] = nat

            df_r["년월"] = int("200"+str(year)+"0"+str(month))
            df_r["년월"] = pd.to_datetime(df_r["년월"], format='%Y%m', errors='ignore')

            
            df_r2=pd.concat([dfold,df_r])
            dfold = df_r2
        else : 

            df = pd.read_excel("trimdata/apt200"+str(year)+str(month)+ ".xlsx" )

            # 이전파일 건드리지 않으려면 반드시 copy로
            df1 = df.copy()

            # datetime으로 만들기

            df1["년월"] = df1["계약년월"].copy()
            #format=%Y%m 으로 포맷 바꿔주기.
            df1["년월"] = pd.to_datetime(df1["년월"], format='%Y%m', errors='ignore')

            # df1["년월"]
            # pd.to_datetime?
            # df1.info()


            # ,가 문자열에 있어서 to_numeric에서  인식이 안되므로 ,제거하기 
                # 성공! replace던 strip이던 컬럼에 적용할땐 항상 .str. 을 써야함을 잊지말것. 
            df1["금액"] =df1["거래금액(만원)"].copy()
            df1["금액"] = df1["금액"].str.replace(",","")


            # 문자열인 값 숫자로 변환하기 
            df1["금액"] =pd.to_numeric(df1["금액"])
            df1["면적"]=pd.to_numeric(df1["전용면적(㎡)"],errors ='coerce')
            df1["건축년도"]=pd.to_numeric(df1["건축년도"],errors ='coerce')


            #해제사유등 필요없는것 제거하기.

            # axis=1을 쓰면 열을 지우고 df.drop([0, 1], axis=0) 처럼 0을쓰면 인덱스(행)을 지움.
            # 주의 행의 이름은 B랑 C가 아닌 0 1인데 이는 스트링이 아니므로 ''없이 하면됨.
            df2 = df1.drop(["해제사유발생일", "계약년월","단지명","계약일","층","도로명","번지","본번","거래금액(만원)","전용면적(㎡)","부번"]
                        ,axis=1).copy()
            # df2


                
            #크기로 나누기
            df2.loc[(df2['면적'] >  60) & (df2['면적'] <= 85), '크기'] = '중형' 
            df2.loc[(df2['면적'] <=  60),'크기'] = '소형'
            df2.loc[(df2['면적'] > 85), '크기'] = '대형'
            #확인 
            df2['크기'].value_counts()


            #지역으로 나누기.
            df2["서울"] = df2["시군구"].str.contains("서울", case=False, na=False).astype(int)
            df2["서울"].sum()
            df2["대전"] = df2["시군구"].str.contains("대전", case=False, na=False).astype(int)
            df2["대전"].sum()

            location =[]
            location = ["강원도",     
                        "경기도"  ,  
                        "경상남도" ,    
                        "경상북도"  ,   
                        "광주광역"     ,
                        "대구광역"  ,
                        "대전광역"   ,
                        "부산광역"   ,
                        "서울특별"    ,
                        "세종특별",
                        "울산광역"    ,
                        "인천광역"    ,
                        "전라남도" ,    
                        "전라북도"  ,   
                        "제주특별"    ,
                        "충청남도" ,   
                        "충청북도"  ] 

            for i in location :
                df2[i] =  df2["시군구"].str.contains(i, case=False, na=False).astype(int)
                df2.loc[(df2[i] ==  1) , '지역'] = i


            #확인
            df2["지역"].value_counts()
            df2["강원도"].sum()+df2["경기도"].sum()+df2["경상남도"].sum()+df2["경상북도"].sum()+df2["광주광역"].sum()+df2["대구광역"].sum()+df2["대전광역"].sum()+df2["부산광역"].sum()+df2["서울특별"].sum()+df2["세종특별"].sum()+df2["울산광역"].sum()+df2["인천광역"].sum()+df2["전라남도"].sum()+df2["전라북도"].sum()+df2["제주특별"].sum()+df2["충청남도"].sum() +df2["충청북도"].sum()


            #강남 송파 서초 3구 따로 묶어보기 ..abs
            df2["강남구"] = df2["시군구"].str.contains("서울특별시 강남구", case=False, na=False).astype(int)
            df2["서초구"] = df2["시군구"].str.contains("서울특별시 서초구", case=False, na=False).astype(int)
            df2["송파구"] = df2["시군구"].str.contains("서울특별시 송파구", case=False, na=False).astype(int)
            df2.loc[(df2['강남구'] == 1) | (df2['서초구'] == 1) |  (df2['송파구'] == 1) , "강남3구"] = 1

            #Nan 0으로 만들기
            df2["강남3구"] = df2["강남3구"].fillna(0).copy()

            #확인하기 
            df2["강남3구"].value_counts()


            # 전체관측치와 각도별 관측치 갯수의합이 같은지 확인하기.
            df2["강원도"].sum()+df2["경기도"].sum()+df2["경상남도"].sum()+df2["경상북도"].sum()+df2["광주광역"].sum()+df2["대구광역"].sum()+df2["대전광역"].sum()+df2["부산광역"].sum()+df2["서울특별"].sum()+df2["세종특별"].sum()+df2["울산광역"].sum()+df2["인천광역"].sum()+df2["전라남도"].sum()+df2["전라북도"].sum()+df2["제주특별"].sum()+df2["충청남도"].sum() +df2["충청북도"].sum()

            #결과 확인
            df2.info()

            # 전체관측치와 각도별 관측치 갯수의합이 같은지 확인하기.
            df2["강원도"].sum()+df2["경기도"].sum()+df2["경상남도"].sum()+df2["경상북도"].sum()+df2["광주광역"].sum()+df2["대구광역"].sum()+df2["대전광역"].sum()+df2["부산광역"].sum()+df2["서울특별"].sum()+df2["세종특별"].sum()+df2["울산광역"].sum()+df2["인천광역"].sum()+df2["전라남도"].sum()+df2["전라북도"].sum()+df2["제주특별"].sum()+df2["충청남도"].sum() +df2["충청북도"].sum()


            ###  설명 시계열 데이터 변환작업 


            df3 = df2.groupby(["지역","크기"])["금액"].mean().unstack().round()
            df3.columns = ["대형평균","소형평균","중형평균"]
            df3 = df3.reindex(columns=["소형평균","중형평균","대형평균"])
          #  df3


            df4 = df2.groupby(["지역","크기"])["금액"].std().unstack().round()
            df4.columns = ["대형표준편차","소형표준편차","중형표준편차"]
            df4 = df4.reindex(columns=["소형표준편차","중형표준편차","대형표준편차"])
          #  df4

            column_names = []
            df5 = pd.DataFrame(columns = column_names)
            df5["지역평균"] = df2.groupby(["지역"])["금액"].mean().round().copy()

            df6 = pd.DataFrame(columns = column_names)
            df6["지역표준편차"] = df2.groupby(["지역"])["금액"].std().round().copy()

            df_last = pd.concat([df5,df3,df6,df4] , axis=1) #axis=1을 해야 옆에다 붙임즉 column에 붙임. 디폴트는 axis=0 이고 이렇게하면 row에 붙이는것. 
           # df_last

            # 인덱스 초기화하기
            df_r = df_last.reset_index()
           # df_r 

            #전국 붙이기 
            nat = []
            nat =["전국"]
            nat.append(df2["금액"].mean())
            nat.append(df2.groupby(["크기"])["금액"].mean()["소형"])
            nat.append(df2.groupby(["크기"])["금액"].mean()["중형"])
            nat.append(df2.groupby(["크기"])["금액"].mean()["대형"])
            nat.append(df2["금액"].std())
            nat.append(df2.groupby(["크기"])["금액"].std()["소형"])
            nat.append(df2.groupby(["크기"])["금액"].std()["중형"])
            nat.append(df2.groupby(["크기"])["금액"].std()["대형"])

            # nat

            #시간축만들기. 여기 루프넣어야함. 
            df_r.loc[17] = nat

            df_r["년월"] = int("200"+str(year)+str(month))
            df_r["년월"] = pd.to_datetime(df_r["년월"], format='%Y%m', errors='ignore')

            
            df_r2=pd.concat([dfold,df_r])
            dfold = df_r2

  0%|          | 0/4 [00:00<?, ?it/s]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25921 entries, 0 to 25920
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25921 non-null  int64
 1   시군구         25921 non-null  object
 2   건축년도        25921 non-null  int64
 3   년월          25921 non-null  datetime64[ns]
 4   금액          25921 non-null  int64
 5   면적          25921 non-null  float64
 6   크기          25921 non-null  object
 7   서울          25921 non-null  int32
 8   대전          25921 non-null  int32
 9   강원도         25921 non-null  int32
 10  지역          25921 non-null  object
 11  경기도         25921 non-null  int32
 12  경상남도        25921 non-null  int32
 13  경상북도        25921 non-null  int32
 14  광주광역        25921 non-null  int32
 15  대구광역        25921 non-null  int32
 16  대전광역        25921 non-null  int32
 17  부산광역        25921 non-null  int32
 18  서울특별        25921 non-null  int32
 19  세종특별        25921 non-null  int32
 20  울산광역        25921 non-null  int32
 21  인천광역        25921 non-null  int32
 22  전라남도        25921 non-null  int32
 23  전라북도        25921 non-null  int32
 24  제주특별        25921 non-null  int32
 25  충청남도        25921 non-null  int32
 26  충청북도        25921 non-null  int32
 27  강남구         25921 non-null  int32
 28  서초구         25921 non-null  int32
 29  송파구         25921 non-null  int32
 30  강남3구        25921 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 4.0+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44742 entries, 0 to 44741
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44742 non-null  int64
 1   시군구         44742 non-null  object
 2   건축년도        44742 non-null  int64
 3   년월          44742 non-null  datetime64[ns]
 4   금액          44742 non-null  int64
 5   면적          44742 non-null  float64
 6   크기          44742 non-null  object
 7   서울          44742 non-null  int32
 8   대전          44742 non-null  int32
 9   강원도         44742 non-null  int32
 10  지역          44742 non-null  object
 11  경기도         44742 non-null  int32
 12  경상남도        44742 non-null  int32
 13  경상북도        44742 non-null  int32
 14  광주광역        44742 non-null  int32
 15  대구광역        44742 non-null  int32
 16  대전광역        44742 non-null  int32
 17  부산광역        44742 non-null  int32
 18  서울특별        44742 non-null  int32
 19  세종특별        44742 non-null  int32
 20  울산광역        44742 non-null  int32
 21  인천광역        44742 non-null  int32
 22  전라남도        44742 non-null  int32
 23  전라북도        44742 non-null  int32
 24  제주특별        44742 non-null  int32
 25  충청남도        44742 non-null  int32
 26  충청북도        44742 non-null  int32
 27  강남구         44742 non-null  int32
 28  서초구         44742 non-null  int32
 29  송파구         44742 non-null  int32
 30  강남3구        44742 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.8+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58448 entries, 0 to 58447
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  58448 non-null  int64
 1   시군구         58448 non-null  object
 2   건축년도        58448 non-null  int64
 3   년월          58448 non-null  datetime64[ns]
 4   금액          58448 non-null  int64
 5   면적          58448 non-null  float64
 6   크기          58448 non-null  object
 7   서울          58448 non-null  int32
 8   대전          58448 non-null  int32
 9   강원도         58448 non-null  int32
 10  지역          58448 non-null  object
 11  경기도         58448 non-null  int32
 12  경상남도        58448 non-null  int32
 13  경상북도        58448 non-null  int32
 14  광주광역        58448 non-null  int32
 15  대구광역        58448 non-null  int32
 16  대전광역        58448 non-null  int32
 17  부산광역        58448 non-null  int32
 18  서울특별        58448 non-null  int32
 19  세종특별        58448 non-null  int32
 20  울산광역        58448 non-null  int32
 21  인천광역        58448 non-null  int32
 22  전라남도        58448 non-null  int32
 23  전라북도        58448 non-null  int32
 24  제주특별        58448 non-null  int32
 25  충청남도        58448 non-null  int32
 26  충청북도        58448 non-null  int32
 27  강남구         58448 non-null  int32
 28  서초구         58448 non-null  int32
 29  송파구         58448 non-null  int32
 30  강남3구        58448 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 8.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50075 entries, 0 to 50074
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50075 non-null  int64
 1   시군구         50075 non-null  object
 2   건축년도        50075 non-null  int64
 3   년월          50075 non-null  datetime64[ns]
 4   금액          50075 non-null  int64
 5   면적          50075 non-null  float64
 6   크기          50075 non-null  object
 7   서울          50075 non-null  int32
 8   대전          50075 non-null  int32
 9   강원도         50075 non-null  int32
 10  지역          50075 non-null  object
 11  경기도         50075 non-null  int32
 12  경상남도        50075 non-null  int32
 13  경상북도        50075 non-null  int32
 14  광주광역        50075 non-null  int32
 15  대구광역        50075 non-null  int32
 16  대전광역        50075 non-null  int32
 17  부산광역        50075 non-null  int32
 18  서울특별        50075 non-null  int32
 19  세종특별        50075 non-null  int32
 20  울산광역        50075 non-null  int32
 21  인천광역        50075 non-null  int32
 22  전라남도        50075 non-null  int32
 23  전라북도        50075 non-null  int32
 24  제주특별        50075 non-null  int32
 25  충청남도        50075 non-null  int32
 26  충청북도        50075 non-null  int32
 27  강남구         50075 non-null  int32
 28  서초구         50075 non-null  int32
 29  송파구         50075 non-null  int32
 30  강남3구        50075 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 7.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46590 entries, 0 to 46589
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  46590 non-null  int64
 1   시군구         46590 non-null  object
 2   건축년도        46590 non-null  int64
 3   년월          46590 non-null  datetime64[ns]
 4   금액          46590 non-null  int64
 5   면적          46590 non-null  float64
 6   크기          46590 non-null  object
 7   서울          46590 non-null  int32
 8   대전          46590 non-null  int32
 9   강원도         46590 non-null  int32
 10  지역          46590 non-null  object
 11  경기도         46590 non-null  int32
 12  경상남도        46590 non-null  int32
 13  경상북도        46590 non-null  int32
 14  광주광역        46590 non-null  int32
 15  대구광역        46590 non-null  int32
 16  대전광역        46590 non-null  int32
 17  부산광역        46590 non-null  int32
 18  서울특별        46590 non-null  int32
 19  세종특별        46590 non-null  int32
 20  울산광역        46590 non-null  int32
 21  인천광역        46590 non-null  int32
 22  전라남도        46590 non-null  int32
 23  전라북도        46590 non-null  int32
 24  제주특별        46590 non-null  int32
 25  충청남도        46590 non-null  int32
 26  충청북도        46590 non-null  int32
 27  강남구         46590 non-null  int32
 28  서초구         46590 non-null  int32
 29  송파구         46590 non-null  int32
 30  강남3구        46590 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 7.1+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36701 entries, 0 to 36700
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  36701 non-null  int64
 1   시군구         36701 non-null  object
 2   건축년도        36699 non-null  float64
 3   년월          36701 non-null  datetime64[ns]
 4   금액          36701 non-null  int64
 5   면적          36701 non-null  float64
 6   크기          36701 non-null  object
 7   서울          36701 non-null  int32
 8   대전          36701 non-null  int32
 9   강원도         36701 non-null  int32
 10  지역          36701 non-null  object
 11  경기도         36701 non-null  int32
 12  경상남도        36701 non-null  int32
 13  경상북도        36701 non-null  int32
 14  광주광역        36701 non-null  int32
 15  대구광역        36701 non-null  int32
 16  대전광역        36701 non-null  int32
 17  부산광역        36701 non-null  int32
 18  서울특별        36701 non-null  int32
 19  세종특별        36701 non-null  int32
 20  울산광역        36701 non-null  int32
 21  인천광역        36701 non-null  int32
 22  전라남도        36701 non-null  int32
 23  전라북도        36701 non-null  int32
 24  제주특별        36701 non-null  int32
 25  충청남도        36701 non-null  int32
 26  충청북도        36701 non-null  int32
 27  강남구         36701 non-null  int32
 28  서초구         36701 non-null  int32
 29  송파구         36701 non-null  int32
 30  강남3구        36701 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(22), int64(2), object(3)
memory usage: 5.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33302 entries, 0 to 33301
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  33302 non-null  int64
 1   시군구         33302 non-null  object
 2   건축년도        33302 non-null  int64
 3   년월          33302 non-null  datetime64[ns]
 4   금액          33302 non-null  int64
 5   면적          33302 non-null  float64
 6   크기          33302 non-null  object
 7   서울          33302 non-null  int32
 8   대전          33302 non-null  int32
 9   강원도         33302 non-null  int32
 10  지역          33302 non-null  object
 11  경기도         33302 non-null  int32
 12  경상남도        33302 non-null  int32
 13  경상북도        33302 non-null  int32
 14  광주광역        33302 non-null  int32
 15  대구광역        33302 non-null  int32
 16  대전광역        33302 non-null  int32
 17  부산광역        33302 non-null  int32
 18  서울특별        33302 non-null  int32
 19  세종특별        33302 non-null  int32
 20  울산광역        33302 non-null  int32
 21  인천광역        33302 non-null  int32
 22  전라남도        33302 non-null  int32
 23  전라북도        33302 non-null  int32
 24  제주특별        33302 non-null  int32
 25  충청남도        33302 non-null  int32
 26  충청북도        33302 non-null  int32
 27  강남구         33302 non-null  int32
 28  서초구         33302 non-null  int32
 29  송파구         33302 non-null  int32
 30  강남3구        33302 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 5.1+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42244 entries, 0 to 42243
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  42244 non-null  int64
 1   시군구         42244 non-null  object
 2   건축년도        42244 non-null  int64
 3   년월          42244 non-null  datetime64[ns]
 4   금액          42244 non-null  int64
 5   면적          42244 non-null  float64
 6   크기          42244 non-null  object
 7   서울          42244 non-null  int32
 8   대전          42244 non-null  int32
 9   강원도         42244 non-null  int32
 10  지역          42244 non-null  object
 11  경기도         42244 non-null  int32
 12  경상남도        42244 non-null  int32
 13  경상북도        42244 non-null  int32
 14  광주광역        42244 non-null  int32
 15  대구광역        42244 non-null  int32
 16  대전광역        42244 non-null  int32
 17  부산광역        42244 non-null  int32
 18  서울특별        42244 non-null  int32
 19  세종특별        42244 non-null  int32
 20  울산광역        42244 non-null  int32
 21  인천광역        42244 non-null  int32
 22  전라남도        42244 non-null  int32
 23  전라북도        42244 non-null  int32
 24  제주특별        42244 non-null  int32
 25  충청남도        42244 non-null  int32
 26  충청북도        42244 non-null  int32
 27  강남구         42244 non-null  int32
 28  서초구         42244 non-null  int32
 29  송파구         42244 non-null  int32
 30  강남3구        42244 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.4+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70108 entries, 0 to 70107
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  70108 non-null  int64
 1   시군구         70108 non-null  object
 2   건축년도        70107 non-null  float64
 3   년월          70108 non-null  datetime64[ns]
 4   금액          70108 non-null  int64
 5   면적          70108 non-null  float64
 6   크기          70108 non-null  object
 7   서울          70108 non-null  int32
 8   대전          70108 non-null  int32
 9   강원도         70108 non-null  int32
 10  지역          70108 non-null  object
 11  경기도         70108 non-null  int32
 12  경상남도        70108 non-null  int32
 13  경상북도        70108 non-null  int32
 14  광주광역        70108 non-null  int32
 15  대구광역        70108 non-null  int32
 16  대전광역        70108 non-null  int32
 17  부산광역        70108 non-null  int32
 18  서울특별        70108 non-null  int32
 19  세종특별        70108 non-null  int32
 20  울산광역        70108 non-null  int32
 21  인천광역        70108 non-null  int32
 22  전라남도        70108 non-null  int32
 23  전라북도        70108 non-null  int32
 24  제주특별        70108 non-null  int32
 25  충청남도        70108 non-null  int32
 26  충청북도        70108 non-null  int32
 27  강남구         70108 non-null  int32
 28  서초구         70108 non-null  int32
 29  송파구         70108 non-null  int32
 30  강남3구        70108 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(22), int64(2), object(3)
memory usage: 10.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84915 entries, 0 to 84914
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  84915 non-null  int64
 1   시군구         84915 non-null  object
 2   건축년도        84915 non-null  int64
 3   년월          84915 non-null  datetime64[ns]
 4   금액          84915 non-null  int64
 5   면적          84915 non-null  float64
 6   크기          84915 non-null  object
 7   서울          84915 non-null  int32
 8   대전          84915 non-null  int32
 9   강원도         84915 non-null  int32
 10  지역          84915 non-null  object
 11  경기도         84915 non-null  int32
 12  경상남도        84915 non-null  int32
 13  경상북도        84915 non-null  int32
 14  광주광역        84915 non-null  int32
 15  대구광역        84915 non-null  int32
 16  대전광역        84915 non-null  int32
 17  부산광역        84915 non-null  int32
 18  서울특별        84915 non-null  int32
 19  세종특별        84915 non-null  int32
 20  울산광역        84915 non-null  int32
 21  인천광역        84915 non-null  int32
 22  전라남도        84915 non-null  int32
 23  전라북도        84915 non-null  int32
 24  제주특별        84915 non-null  int32
 25  충청남도        84915 non-null  int32
 26  충청북도        84915 non-null  int32
 27  강남구         84915 non-null  int32
 28  서초구         84915 non-null  int32
 29  송파구         84915 non-null  int32
 30  강남3구        84915 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 13.0+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84390 entries, 0 to 84389
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  84390 non-null  int64
 1   시군구         84390 non-null  object
 2   건축년도        84390 non-null  int64
 3   년월          84390 non-null  datetime64[ns]
 4   금액          84390 non-null  int64
 5   면적          84390 non-null  float64
 6   크기          84390 non-null  object
 7   서울          84390 non-null  int32
 8   대전          84390 non-null  int32
 9   강원도         84390 non-null  int32
 10  지역          84390 non-null  object
 11  경기도         84390 non-null  int32
 12  경상남도        84390 non-null  int32
 13  경상북도        84390 non-null  int32
 14  광주광역        84390 non-null  int32
 15  대구광역        84390 non-null  int32
 16  대전광역        84390 non-null  int32
 17  부산광역        84390 non-null  int32
 18  서울특별        84390 non-null  int32
 19  세종특별        84390 non-null  int32
 20  울산광역        84390 non-null  int32
 21  인천광역        84390 non-null  int32
 22  전라남도        84390 non-null  int32
 23  전라북도        84390 non-null  int32
 24  제주특별        84390 non-null  int32
 25  충청남도        84390 non-null  int32
 26  충청북도        84390 non-null  int32
 27  강남구         84390 non-null  int32
 28  서초구         84390 non-null  int32
 29  송파구         84390 non-null  int32
 30  강남3구        84390 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 12.9+ MB

100%|██████████| 12/12 [01:40<00:00,  8.39s/it]
 25%|██▌       | 1/4 [01:40<05:02, 100.70s/it]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57166 entries, 0 to 57165
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  57166 non-null  int64
 1   시군구         57166 non-null  object
 2   건축년도        57166 non-null  int64
 3   년월          57166 non-null  datetime64[ns]
 4   금액          57166 non-null  int64
 5   면적          57166 non-null  float64
 6   크기          57166 non-null  object
 7   서울          57166 non-null  int32
 8   대전          57166 non-null  int32
 9   강원도         57166 non-null  int32
 10  지역          57166 non-null  object
 11  경기도         57166 non-null  int32
 12  경상남도        57166 non-null  int32
 13  경상북도        57166 non-null  int32
 14  광주광역        57166 non-null  int32
 15  대구광역        57166 non-null  int32
 16  대전광역        57166 non-null  int32
 17  부산광역        57166 non-null  int32
 18  서울특별        57166 non-null  int32
 19  세종특별        57166 non-null  int32
 20  울산광역        57166 non-null  int32
 21  인천광역        57166 non-null  int32
 22  전라남도        57166 non-null  int32
 23  전라북도        57166 non-null  int32
 24  제주특별        57166 non-null  int32
 25  충청남도        57166 non-null  int32
 26  충청북도        57166 non-null  int32
 27  강남구         57166 non-null  int32
 28  서초구         57166 non-null  int32
 29  송파구         57166 non-null  int32
 30  강남3구        57166 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 8.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39566 entries, 0 to 39565
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  39566 non-null  int64
 1   시군구         39566 non-null  object
 2   건축년도        39566 non-null  int64
 3   년월          39566 non-null  datetime64[ns]
 4   금액          39566 non-null  int64
 5   면적          39566 non-null  float64
 6   크기          39566 non-null  object
 7   서울          39566 non-null  int32
 8   대전          39566 non-null  int32
 9   강원도         39566 non-null  int32
 10  지역          39566 non-null  object
 11  경기도         39566 non-null  int32
 12  경상남도        39566 non-null  int32
 13  경상북도        39566 non-null  int32
 14  광주광역        39566 non-null  int32
 15  대구광역        39566 non-null  int32
 16  대전광역        39566 non-null  int32
 17  부산광역        39566 non-null  int32
 18  서울특별        39566 non-null  int32
 19  세종특별        39566 non-null  int32
 20  울산광역        39566 non-null  int32
 21  인천광역        39566 non-null  int32
 22  전라남도        39566 non-null  int32
 23  전라북도        39566 non-null  int32
 24  제주특별        39566 non-null  int32
 25  충청남도        39566 non-null  int32
 26  충청북도        39566 non-null  int32
 27  강남구         39566 non-null  int32
 28  서초구         39566 non-null  int32
 29  송파구         39566 non-null  int32
 30  강남3구        39566 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.0+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35512 entries, 0 to 35511
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  35512 non-null  int64
 1   시군구         35512 non-null  object
 2   건축년도        35512 non-null  int64
 3   년월          35512 non-null  datetime64[ns]
 4   금액          35512 non-null  int64
 5   면적          35512 non-null  float64
 6   크기          35512 non-null  object
 7   서울          35512 non-null  int32
 8   대전          35512 non-null  int32
 9   강원도         35512 non-null  int32
 10  지역          35512 non-null  object
 11  경기도         35512 non-null  int32
 12  경상남도        35512 non-null  int32
 13  경상북도        35512 non-null  int32
 14  광주광역        35512 non-null  int32
 15  대구광역        35512 non-null  int32
 16  대전광역        35512 non-null  int32
 17  부산광역        35512 non-null  int32
 18  서울특별        35512 non-null  int32
 19  세종특별        35512 non-null  int32
 20  울산광역        35512 non-null  int32
 21  인천광역        35512 non-null  int32
 22  전라남도        35512 non-null  int32
 23  전라북도        35512 non-null  int32
 24  제주특별        35512 non-null  int32
 25  충청남도        35512 non-null  int32
 26  충청북도        35512 non-null  int32
 27  강남구         35512 non-null  int32
 28  서초구         35512 non-null  int32
 29  송파구         35512 non-null  int32
 30  강남3구        35512 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 5.4+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45452 entries, 0 to 45451
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  45452 non-null  int64
 1   시군구         45452 non-null  object
 2   건축년도        45452 non-null  int64
 3   년월          45452 non-null  datetime64[ns]
 4   금액          45452 non-null  int64
 5   면적          45452 non-null  float64
 6   크기          45452 non-null  object
 7   서울          45452 non-null  int32
 8   대전          45452 non-null  int32
 9   강원도         45452 non-null  int32
 10  지역          45452 non-null  object
 11  경기도         45452 non-null  int32
 12  경상남도        45452 non-null  int32
 13  경상북도        45452 non-null  int32
 14  광주광역        45452 non-null  int32
 15  대구광역        45452 non-null  int32
 16  대전광역        45452 non-null  int32
 17  부산광역        45452 non-null  int32
 18  서울특별        45452 non-null  int32
 19  세종특별        45452 non-null  int32
 20  울산광역        45452 non-null  int32
 21  인천광역        45452 non-null  int32
 22  전라남도        45452 non-null  int32
 23  전라북도        45452 non-null  int32
 24  제주특별        45452 non-null  int32
 25  충청남도        45452 non-null  int32
 26  충청북도        45452 non-null  int32
 27  강남구         45452 non-null  int32
 28  서초구         45452 non-null  int32
 29  송파구         45452 non-null  int32
 30  강남3구        45452 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.9+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39680 entries, 0 to 39679
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  39680 non-null  int64
 1   시군구         39680 non-null  object
 2   건축년도        39680 non-null  int64
 3   년월          39680 non-null  datetime64[ns]
 4   금액          39680 non-null  int64
 5   면적          39680 non-null  float64
 6   크기          39680 non-null  object
 7   서울          39680 non-null  int32
 8   대전          39680 non-null  int32
 9   강원도         39680 non-null  int32
 10  지역          39680 non-null  object
 11  경기도         39680 non-null  int32
 12  경상남도        39680 non-null  int32
 13  경상북도        39680 non-null  int32
 14  광주광역        39680 non-null  int32
 15  대구광역        39680 non-null  int32
 16  대전광역        39680 non-null  int32
 17  부산광역        39680 non-null  int32
 18  서울특별        39680 non-null  int32
 19  세종특별        39680 non-null  int32
 20  울산광역        39680 non-null  int32
 21  인천광역        39680 non-null  int32
 22  전라남도        39680 non-null  int32
 23  전라북도        39680 non-null  int32
 24  제주특별        39680 non-null  int32
 25  충청남도        39680 non-null  int32
 26  충청북도        39680 non-null  int32
 27  강남구         39680 non-null  int32
 28  서초구         39680 non-null  int32
 29  송파구         39680 non-null  int32
 30  강남3구        39680 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.1+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36215 entries, 0 to 36214
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  36215 non-null  int64
 1   시군구         36215 non-null  object
 2   건축년도        36215 non-null  int64
 3   년월          36215 non-null  datetime64[ns]
 4   금액          36215 non-null  int64
 5   면적          36215 non-null  float64
 6   크기          36215 non-null  object
 7   서울          36215 non-null  int32
 8   대전          36215 non-null  int32
 9   강원도         36215 non-null  int32
 10  지역          36215 non-null  object
 11  경기도         36215 non-null  int32
 12  경상남도        36215 non-null  int32
 13  경상북도        36215 non-null  int32
 14  광주광역        36215 non-null  int32
 15  대구광역        36215 non-null  int32
 16  대전광역        36215 non-null  int32
 17  부산광역        36215 non-null  int32
 18  서울특별        36215 non-null  int32
 19  세종특별        36215 non-null  int32
 20  울산광역        36215 non-null  int32
 21  인천광역        36215 non-null  int32
 22  전라남도        36215 non-null  int32
 23  전라북도        36215 non-null  int32
 24  제주특별        36215 non-null  int32
 25  충청남도        36215 non-null  int32
 26  충청북도        36215 non-null  int32
 27  강남구         36215 non-null  int32
 28  서초구         36215 non-null  int32
 29  송파구         36215 non-null  int32
 30  강남3구        36215 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 5.5+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39207 entries, 0 to 39206
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  39207 non-null  int64
 1   시군구         39207 non-null  object
 2   건축년도        39207 non-null  int64
 3   년월          39207 non-null  datetime64[ns]
 4   금액          39207 non-null  int64
 5   면적          39207 non-null  float64
 6   크기          39207 non-null  object
 7   서울          39207 non-null  int32
 8   대전          39207 non-null  int32
 9   강원도         39207 non-null  int32
 10  지역          39207 non-null  object
 11  경기도         39207 non-null  int32
 12  경상남도        39207 non-null  int32
 13  경상북도        39207 non-null  int32
 14  광주광역        39207 non-null  int32
 15  대구광역        39207 non-null  int32
 16  대전광역        39207 non-null  int32
 17  부산광역        39207 non-null  int32
 18  서울특별        39207 non-null  int32
 19  세종특별        39207 non-null  int32
 20  울산광역        39207 non-null  int32
 21  인천광역        39207 non-null  int32
 22  전라남도        39207 non-null  int32
 23  전라북도        39207 non-null  int32
 24  제주특별        39207 non-null  int32
 25  충청남도        39207 non-null  int32
 26  충청북도        39207 non-null  int32
 27  강남구         39207 non-null  int32
 28  서초구         39207 non-null  int32
 29  송파구         39207 non-null  int32
 30  강남3구        39207 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.0+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40804 entries, 0 to 40803
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  40804 non-null  int64
 1   시군구         40804 non-null  object
 2   건축년도        40804 non-null  int64
 3   년월          40804 non-null  datetime64[ns]
 4   금액          40804 non-null  int64
 5   면적          40804 non-null  float64
 6   크기          40804 non-null  object
 7   서울          40804 non-null  int32
 8   대전          40804 non-null  int32
 9   강원도         40804 non-null  int32
 10  지역          40804 non-null  object
 11  경기도         40804 non-null  int32
 12  경상남도        40804 non-null  int32
 13  경상북도        40804 non-null  int32
 14  광주광역        40804 non-null  int32
 15  대구광역        40804 non-null  int32
 16  대전광역        40804 non-null  int32
 17  부산광역        40804 non-null  int32
 18  서울특별        40804 non-null  int32
 19  세종특별        40804 non-null  int32
 20  울산광역        40804 non-null  int32
 21  인천광역        40804 non-null  int32
 22  전라남도        40804 non-null  int32
 23  전라북도        40804 non-null  int32
 24  제주특별        40804 non-null  int32
 25  충청남도        40804 non-null  int32
 26  충청북도        40804 non-null  int32
 27  강남구         40804 non-null  int32
 28  서초구         40804 non-null  int32
 29  송파구         40804 non-null  int32
 30  강남3구        40804 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.2+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40504 entries, 0 to 40503
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  40504 non-null  int64
 1   시군구         40504 non-null  object
 2   건축년도        40504 non-null  int64
 3   년월          40504 non-null  datetime64[ns]
 4   금액          40504 non-null  int64
 5   면적          40504 non-null  float64
 6   크기          40504 non-null  object
 7   서울          40504 non-null  int32
 8   대전          40504 non-null  int32
 9   강원도         40504 non-null  int32
 10  지역          40504 non-null  object
 11  경기도         40504 non-null  int32
 12  경상남도        40504 non-null  int32
 13  경상북도        40504 non-null  int32
 14  광주광역        40504 non-null  int32
 15  대구광역        40504 non-null  int32
 16  대전광역        40504 non-null  int32
 17  부산광역        40504 non-null  int32
 18  서울특별        40504 non-null  int32
 19  세종특별        40504 non-null  int32
 20  울산광역        40504 non-null  int32
 21  인천광역        40504 non-null  int32
 22  전라남도        40504 non-null  int32
 23  전라북도        40504 non-null  int32
 24  제주특별        40504 non-null  int32
 25  충청남도        40504 non-null  int32
 26  충청북도        40504 non-null  int32
 27  강남구         40504 non-null  int32
 28  서초구         40504 non-null  int32
 29  송파구         40504 non-null  int32
 30  강남3구        40504 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.2+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34792 entries, 0 to 34791
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  34792 non-null  int64
 1   시군구         34792 non-null  object
 2   건축년도        34792 non-null  int64
 3   년월          34792 non-null  datetime64[ns]
 4   금액          34792 non-null  int64
 5   면적          34792 non-null  float64
 6   크기          34792 non-null  object
 7   서울          34792 non-null  int32
 8   대전          34792 non-null  int32
 9   강원도         34792 non-null  int32
 10  지역          34792 non-null  object
 11  경기도         34792 non-null  int32
 12  경상남도        34792 non-null  int32
 13  경상북도        34792 non-null  int32
 14  광주광역        34792 non-null  int32
 15  대구광역        34792 non-null  int32
 16  대전광역        34792 non-null  int32
 17  부산광역        34792 non-null  int32
 18  서울특별        34792 non-null  int32
 19  세종특별        34792 non-null  int32
 20  울산광역        34792 non-null  int32
 21  인천광역        34792 non-null  int32
 22  전라남도        34792 non-null  int32
 23  전라북도        34792 non-null  int32
 24  제주특별        34792 non-null  int32
 25  충청남도        34792 non-null  int32
 26  충청북도        34792 non-null  int32
 27  강남구         34792 non-null  int32
 28  서초구         34792 non-null  int32
 29  송파구         34792 non-null  int32
 30  강남3구        34792 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 5.3+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51564 entries, 0 to 51563
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  51564 non-null  int64
 1   시군구         51564 non-null  object
 2   건축년도        51564 non-null  int64
 3   년월          51564 non-null  datetime64[ns]
 4   금액          51564 non-null  int64
 5   면적          51564 non-null  float64
 6   크기          51564 non-null  object
 7   서울          51564 non-null  int32
 8   대전          51564 non-null  int32
 9   강원도         51564 non-null  int32
 10  지역          51564 non-null  object
 11  경기도         51564 non-null  int32
 12  경상남도        51564 non-null  int32
 13  경상북도        51564 non-null  int32
 14  광주광역        51564 non-null  int32
 15  대구광역        51564 non-null  int32
 16  대전광역        51564 non-null  int32
 17  부산광역        51564 non-null  int32
 18  서울특별        51564 non-null  int32
 19  세종특별        51564 non-null  int32
 20  울산광역        51564 non-null  int32
 21  인천광역        51564 non-null  int32
 22  전라남도        51564 non-null  int32
 23  전라북도        51564 non-null  int32
 24  제주특별        51564 non-null  int32
 25  충청남도        51564 non-null  int32
 26  충청북도        51564 non-null  int32
 27  강남구         51564 non-null  int32
 28  서초구         51564 non-null  int32
 29  송파구         51564 non-null  int32
 30  강남3구        51564 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 7.9+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44650 entries, 0 to 44649
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44650 non-null  int64
 1   시군구         44650 non-null  object
 2   건축년도        44650 non-null  int64
 3   년월          44650 non-null  datetime64[ns]
 4   금액          44650 non-null  int64
 5   면적          44650 non-null  float64
 6   크기          44650 non-null  object
 7   서울          44650 non-null  int32
 8   대전          44650 non-null  int32
 9   강원도         44650 non-null  int32
 10  지역          44650 non-null  object
 11  경기도         44650 non-null  int32
 12  경상남도        44650 non-null  int32
 13  경상북도        44650 non-null  int32
 14  광주광역        44650 non-null  int32
 15  대구광역        44650 non-null  int32
 16  대전광역        44650 non-null  int32
 17  부산광역        44650 non-null  int32
 18  서울특별        44650 non-null  int32
 19  세종특별        44650 non-null  int32
 20  울산광역        44650 non-null  int32
 21  인천광역        44650 non-null  int32
 22  전라남도        44650 non-null  int32
 23  전라북도        44650 non-null  int32
 24  제주특별        44650 non-null  int32
 25  충청남도        44650 non-null  int32
 26  충청북도        44650 non-null  int32
 27  강남구         44650 non-null  int32
 28  서초구         44650 non-null  int32
 29  송파구         44650 non-null  int32
 30  강남3구        44650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.8+ MB

100%|██████████| 12/12 [01:18<00:00,  6.51s/it]
 50%|█████     | 2/4 [02:58<03:07, 93.91s/it]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43228 entries, 0 to 43227
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  43228 non-null  int64
 1   시군구         43228 non-null  object
 2   건축년도        43228 non-null  int64
 3   년월          43228 non-null  datetime64[ns]
 4   금액          43228 non-null  int64
 5   면적          43228 non-null  float64
 6   크기          43228 non-null  object
 7   서울          43228 non-null  int32
 8   대전          43228 non-null  int32
 9   강원도         43228 non-null  int32
 10  지역          43228 non-null  object
 11  경기도         43228 non-null  int32
 12  경상남도        43228 non-null  int32
 13  경상북도        43228 non-null  int32
 14  광주광역        43228 non-null  int32
 15  대구광역        43228 non-null  int32
 16  대전광역        43228 non-null  int32
 17  부산광역        43228 non-null  int32
 18  서울특별        43228 non-null  int32
 19  세종특별        43228 non-null  int32
 20  울산광역        43228 non-null  int32
 21  인천광역        43228 non-null  int32
 22  전라남도        43228 non-null  int32
 23  전라북도        43228 non-null  int32
 24  제주특별        43228 non-null  int32
 25  충청남도        43228 non-null  int32
 26  충청북도        43228 non-null  int32
 27  강남구         43228 non-null  int32
 28  서초구         43228 non-null  int32
 29  송파구         43228 non-null  int32
 30  강남3구        43228 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47918 entries, 0 to 47917
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  47918 non-null  int64
 1   시군구         47918 non-null  object
 2   건축년도        47918 non-null  int64
 3   년월          47918 non-null  datetime64[ns]
 4   금액          47918 non-null  int64
 5   면적          47918 non-null  float64
 6   크기          47918 non-null  object
 7   서울          47918 non-null  int32
 8   대전          47918 non-null  int32
 9   강원도         47918 non-null  int32
 10  지역          47918 non-null  object
 11  경기도         47918 non-null  int32
 12  경상남도        47918 non-null  int32
 13  경상북도        47918 non-null  int32
 14  광주광역        47918 non-null  int32
 15  대구광역        47918 non-null  int32
 16  대전광역        47918 non-null  int32
 17  부산광역        47918 non-null  int32
 18  서울특별        47918 non-null  int32
 19  세종특별        47918 non-null  int32
 20  울산광역        47918 non-null  int32
 21  인천광역        47918 non-null  int32
 22  전라남도        47918 non-null  int32
 23  전라북도        47918 non-null  int32
 24  제주특별        47918 non-null  int32
 25  충청남도        47918 non-null  int32
 26  충청북도        47918 non-null  int32
 27  강남구         47918 non-null  int32
 28  서초구         47918 non-null  int32
 29  송파구         47918 non-null  int32
 30  강남3구        47918 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 7.3+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46585 entries, 0 to 46584
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  46585 non-null  int64
 1   시군구         46585 non-null  object
 2   건축년도        46585 non-null  int64
 3   년월          46585 non-null  datetime64[ns]
 4   금액          46585 non-null  int64
 5   면적          46585 non-null  float64
 6   크기          46585 non-null  object
 7   서울          46585 non-null  int32
 8   대전          46585 non-null  int32
 9   강원도         46585 non-null  int32
 10  지역          46585 non-null  object
 11  경기도         46585 non-null  int32
 12  경상남도        46585 non-null  int32
 13  경상북도        46585 non-null  int32
 14  광주광역        46585 non-null  int32
 15  대구광역        46585 non-null  int32
 16  대전광역        46585 non-null  int32
 17  부산광역        46585 non-null  int32
 18  서울특별        46585 non-null  int32
 19  세종특별        46585 non-null  int32
 20  울산광역        46585 non-null  int32
 21  인천광역        46585 non-null  int32
 22  전라남도        46585 non-null  int32
 23  전라북도        46585 non-null  int32
 24  제주특별        46585 non-null  int32
 25  충청남도        46585 non-null  int32
 26  충청북도        46585 non-null  int32
 27  강남구         46585 non-null  int32
 28  서초구         46585 non-null  int32
 29  송파구         46585 non-null  int32
 30  강남3구        46585 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 7.1+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67554 entries, 0 to 67553
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  67554 non-null  int64
 1   시군구         67554 non-null  object
 2   건축년도        67554 non-null  int64
 3   년월          67554 non-null  datetime64[ns]
 4   금액          67554 non-null  int64
 5   면적          67554 non-null  float64
 6   크기          67554 non-null  object
 7   서울          67554 non-null  int32
 8   대전          67554 non-null  int32
 9   강원도         67554 non-null  int32
 10  지역          67554 non-null  object
 11  경기도         67554 non-null  int32
 12  경상남도        67554 non-null  int32
 13  경상북도        67554 non-null  int32
 14  광주광역        67554 non-null  int32
 15  대구광역        67554 non-null  int32
 16  대전광역        67554 non-null  int32
 17  부산광역        67554 non-null  int32
 18  서울특별        67554 non-null  int32
 19  세종특별        67554 non-null  int32
 20  울산광역        67554 non-null  int32
 21  인천광역        67554 non-null  int32
 22  전라남도        67554 non-null  int32
 23  전라북도        67554 non-null  int32
 24  제주특별        67554 non-null  int32
 25  충청남도        67554 non-null  int32
 26  충청북도        67554 non-null  int32
 27  강남구         67554 non-null  int32
 28  서초구         67554 non-null  int32
 29  송파구         67554 non-null  int32
 30  강남3구        67554 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 10.3+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62684 entries, 0 to 62683
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  62684 non-null  int64
 1   시군구         62684 non-null  object
 2   건축년도        62684 non-null  int64
 3   년월          62684 non-null  datetime64[ns]
 4   금액          62684 non-null  int64
 5   면적          62684 non-null  float64
 6   크기          62684 non-null  object
 7   서울          62684 non-null  int32
 8   대전          62684 non-null  int32
 9   강원도         62684 non-null  int32
 10  지역          62684 non-null  object
 11  경기도         62684 non-null  int32
 12  경상남도        62684 non-null  int32
 13  경상북도        62684 non-null  int32
 14  광주광역        62684 non-null  int32
 15  대구광역        62684 non-null  int32
 16  대전광역        62684 non-null  int32
 17  부산광역        62684 non-null  int32
 18  서울특별        62684 non-null  int32
 19  세종특별        62684 non-null  int32
 20  울산광역        62684 non-null  int32
 21  인천광역        62684 non-null  int32
 22  전라남도        62684 non-null  int32
 23  전라북도        62684 non-null  int32
 24  제주특별        62684 non-null  int32
 25  충청남도        62684 non-null  int32
 26  충청북도        62684 non-null  int32
 27  강남구         62684 non-null  int32
 28  서초구         62684 non-null  int32
 29  송파구         62684 non-null  int32
 30  강남3구        62684 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 9.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56927 entries, 0 to 56926
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  56927 non-null  int64
 1   시군구         56927 non-null  object
 2   건축년도        56927 non-null  int64
 3   년월          56927 non-null  datetime64[ns]
 4   금액          56927 non-null  int64
 5   면적          56927 non-null  float64
 6   크기          56927 non-null  object
 7   서울          56927 non-null  int32
 8   대전          56927 non-null  int32
 9   강원도         56927 non-null  int32
 10  지역          56927 non-null  object
 11  경기도         56927 non-null  int32
 12  경상남도        56927 non-null  int32
 13  경상북도        56927 non-null  int32
 14  광주광역        56927 non-null  int32
 15  대구광역        56927 non-null  int32
 16  대전광역        56927 non-null  int32
 17  부산광역        56927 non-null  int32
 18  서울특별        56927 non-null  int32
 19  세종특별        56927 non-null  int32
 20  울산광역        56927 non-null  int32
 21  인천광역        56927 non-null  int32
 22  전라남도        56927 non-null  int32
 23  전라북도        56927 non-null  int32
 24  제주특별        56927 non-null  int32
 25  충청남도        56927 non-null  int32
 26  충청북도        56927 non-null  int32
 27  강남구         56927 non-null  int32
 28  서초구         56927 non-null  int32
 29  송파구         56927 non-null  int32
 30  강남3구        56927 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 8.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53261 entries, 0 to 53260
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53261 non-null  int64
 1   시군구         53261 non-null  object
 2   건축년도        53261 non-null  int64
 3   년월          53261 non-null  datetime64[ns]
 4   금액          53261 non-null  int64
 5   면적          53261 non-null  float64
 6   크기          53261 non-null  object
 7   서울          53261 non-null  int32
 8   대전          53261 non-null  int32
 9   강원도         53261 non-null  int32
 10  지역          53261 non-null  object
 11  경기도         53261 non-null  int32
 12  경상남도        53261 non-null  int32
 13  경상북도        53261 non-null  int32
 14  광주광역        53261 non-null  int32
 15  대구광역        53261 non-null  int32
 16  대전광역        53261 non-null  int32
 17  부산광역        53261 non-null  int32
 18  서울특별        53261 non-null  int32
 19  세종특별        53261 non-null  int32
 20  울산광역        53261 non-null  int32
 21  인천광역        53261 non-null  int32
 22  전라남도        53261 non-null  int32
 23  전라북도        53261 non-null  int32
 24  제주특별        53261 non-null  int32
 25  충청남도        53261 non-null  int32
 26  충청북도        53261 non-null  int32
 27  강남구         53261 non-null  int32
 28  서초구         53261 non-null  int32
 29  송파구         53261 non-null  int32
 30  강남3구        53261 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 8.1+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43006 entries, 0 to 43005
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  43006 non-null  int64
 1   시군구         43006 non-null  object
 2   건축년도        43005 non-null  float64
 3   년월          43006 non-null  datetime64[ns]
 4   금액          43006 non-null  int64
 5   면적          43006 non-null  float64
 6   크기          43006 non-null  object
 7   서울          43006 non-null  int32
 8   대전          43006 non-null  int32
 9   강원도         43006 non-null  int32
 10  지역          43006 non-null  object
 11  경기도         43006 non-null  int32
 12  경상남도        43006 non-null  int32
 13  경상북도        43006 non-null  int32
 14  광주광역        43006 non-null  int32
 15  대구광역        43006 non-null  int32
 16  대전광역        43006 non-null  int32
 17  부산광역        43006 non-null  int32
 18  서울특별        43006 non-null  int32
 19  세종특별        43006 non-null  int32
 20  울산광역        43006 non-null  int32
 21  인천광역        43006 non-null  int32
 22  전라남도        43006 non-null  int32
 23  전라북도        43006 non-null  int32
 24  제주특별        43006 non-null  int32
 25  충청남도        43006 non-null  int32
 26  충청북도        43006 non-null  int32
 27  강남구         43006 non-null  int32
 28  서초구         43006 non-null  int32
 29  송파구         43006 non-null  int32
 30  강남3구        43006 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(22), int64(2), object(3)
memory usage: 6.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35812 entries, 0 to 35811
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  35812 non-null  int64
 1   시군구         35812 non-null  object
 2   건축년도        35812 non-null  int64
 3   년월          35812 non-null  datetime64[ns]
 4   금액          35812 non-null  int64
 5   면적          35812 non-null  float64
 6   크기          35812 non-null  object
 7   서울          35812 non-null  int32
 8   대전          35812 non-null  int32
 9   강원도         35812 non-null  int32
 10  지역          35812 non-null  object
 11  경기도         35812 non-null  int32
 12  경상남도        35812 non-null  int32
 13  경상북도        35812 non-null  int32
 14  광주광역        35812 non-null  int32
 15  대구광역        35812 non-null  int32
 16  대전광역        35812 non-null  int32
 17  부산광역        35812 non-null  int32
 18  서울특별        35812 non-null  int32
 19  세종특별        35812 non-null  int32
 20  울산광역        35812 non-null  int32
 21  인천광역        35812 non-null  int32
 22  전라남도        35812 non-null  int32
 23  전라북도        35812 non-null  int32
 24  제주특별        35812 non-null  int32
 25  충청남도        35812 non-null  int32
 26  충청북도        35812 non-null  int32
 27  강남구         35812 non-null  int32
 28  서초구         35812 non-null  int32
 29  송파구         35812 non-null  int32
 30  강남3구        35812 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 5.5+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34035 entries, 0 to 34034
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  34035 non-null  int64
 1   시군구         34035 non-null  object
 2   건축년도        34035 non-null  int64
 3   년월          34035 non-null  datetime64[ns]
 4   금액          34035 non-null  int64
 5   면적          34035 non-null  float64
 6   크기          34035 non-null  object
 7   서울          34035 non-null  int32
 8   대전          34035 non-null  int32
 9   강원도         34035 non-null  int32
 10  지역          34035 non-null  object
 11  경기도         34035 non-null  int32
 12  경상남도        34035 non-null  int32
 13  경상북도        34035 non-null  int32
 14  광주광역        34035 non-null  int32
 15  대구광역        34035 non-null  int32
 16  대전광역        34035 non-null  int32
 17  부산광역        34035 non-null  int32
 18  서울특별        34035 non-null  int32
 19  세종특별        34035 non-null  int32
 20  울산광역        34035 non-null  int32
 21  인천광역        34035 non-null  int32
 22  전라남도        34035 non-null  int32
 23  전라북도        34035 non-null  int32
 24  제주특별        34035 non-null  int32
 25  충청남도        34035 non-null  int32
 26  충청북도        34035 non-null  int32
 27  강남구         34035 non-null  int32
 28  서초구         34035 non-null  int32
 29  송파구         34035 non-null  int32
 30  강남3구        34035 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 5.2+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35534 entries, 0 to 35533
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  35534 non-null  int64
 1   시군구         35534 non-null  object
 2   건축년도        35534 non-null  int64
 3   년월          35534 non-null  datetime64[ns]
 4   금액          35534 non-null  int64
 5   면적          35534 non-null  float64
 6   크기          35534 non-null  object
 7   서울          35534 non-null  int32
 8   대전          35534 non-null  int32
 9   강원도         35534 non-null  int32
 10  지역          35534 non-null  object
 11  경기도         35534 non-null  int32
 12  경상남도        35534 non-null  int32
 13  경상북도        35534 non-null  int32
 14  광주광역        35534 non-null  int32
 15  대구광역        35534 non-null  int32
 16  대전광역        35534 non-null  int32
 17  부산광역        35534 non-null  int32
 18  서울특별        35534 non-null  int32
 19  세종특별        35534 non-null  int32
 20  울산광역        35534 non-null  int32
 21  인천광역        35534 non-null  int32
 22  전라남도        35534 non-null  int32
 23  전라북도        35534 non-null  int32
 24  제주특별        35534 non-null  int32
 25  충청남도        35534 non-null  int32
 26  충청북도        35534 non-null  int32
 27  강남구         35534 non-null  int32
 28  서초구         35534 non-null  int32
 29  송파구         35534 non-null  int32
 30  강남3구        35534 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 5.4+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24302 entries, 0 to 24301
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24302 non-null  int64
 1   시군구         24302 non-null  object
 2   건축년도        24302 non-null  int64
 3   년월          24302 non-null  datetime64[ns]
 4   금액          24302 non-null  int64
 5   면적          24302 non-null  float64
 6   크기          24302 non-null  object
 7   서울          24302 non-null  int32
 8   대전          24302 non-null  int32
 9   강원도         24302 non-null  int32
 10  지역          24302 non-null  object
 11  경기도         24302 non-null  int32
 12  경상남도        24302 non-null  int32
 13  경상북도        24302 non-null  int32
 14  광주광역        24302 non-null  int32
 15  대구광역        24302 non-null  int32
 16  대전광역        24302 non-null  int32
 17  부산광역        24302 non-null  int32
 18  서울특별        24302 non-null  int32
 19  세종특별        24302 non-null  int32
 20  울산광역        24302 non-null  int32
 21  인천광역        24302 non-null  int32
 22  전라남도        24302 non-null  int32
 23  전라북도        24302 non-null  int32
 24  제주특별        24302 non-null  int32
 25  충청남도        24302 non-null  int32
 26  충청북도        24302 non-null  int32
 27  강남구         24302 non-null  int32
 28  서초구         24302 non-null  int32
 29  송파구         24302 non-null  int32
 30  강남3구        24302 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 3.7+ MB

100%|██████████| 12/12 [01:24<00:00,  7.08s/it]
 75%|███████▌  | 3/4 [04:23<01:31, 91.21s/it]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26092 entries, 0 to 26091
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26092 non-null  int64
 1   시군구         26092 non-null  object
 2   건축년도        26092 non-null  int64
 3   년월          26092 non-null  datetime64[ns]
 4   금액          26092 non-null  int64
 5   면적          26092 non-null  float64
 6   크기          26092 non-null  object
 7   서울          26092 non-null  int32
 8   대전          26092 non-null  int32
 9   강원도         26092 non-null  int32
 10  지역          26092 non-null  object
 11  경기도         26092 non-null  int32
 12  경상남도        26092 non-null  int32
 13  경상북도        26092 non-null  int32
 14  광주광역        26092 non-null  int32
 15  대구광역        26092 non-null  int32
 16  대전광역        26092 non-null  int32
 17  부산광역        26092 non-null  int32
 18  서울특별        26092 non-null  int32
 19  세종특별        26092 non-null  int32
 20  울산광역        26092 non-null  int32
 21  인천광역        26092 non-null  int32
 22  전라남도        26092 non-null  int32
 23  전라북도        26092 non-null  int32
 24  제주특별        26092 non-null  int32
 25  충청남도        26092 non-null  int32
 26  충청북도        26092 non-null  int32
 27  강남구         26092 non-null  int32
 28  서초구         26092 non-null  int32
 29  송파구         26092 non-null  int32
 30  강남3구        26092 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 4.0+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29658 entries, 0 to 29657
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  29658 non-null  int64
 1   시군구         29658 non-null  object
 2   건축년도        29658 non-null  int64
 3   년월          29658 non-null  datetime64[ns]
 4   금액          29658 non-null  int64
 5   면적          29658 non-null  float64
 6   크기          29658 non-null  object
 7   서울          29658 non-null  int32
 8   대전          29658 non-null  int32
 9   강원도         29658 non-null  int32
 10  지역          29658 non-null  object
 11  경기도         29658 non-null  int32
 12  경상남도        29658 non-null  int32
 13  경상북도        29658 non-null  int32
 14  광주광역        29658 non-null  int32
 15  대구광역        29658 non-null  int32
 16  대전광역        29658 non-null  int32
 17  부산광역        29658 non-null  int32
 18  서울특별        29658 non-null  int32
 19  세종특별        29658 non-null  int32
 20  울산광역        29658 non-null  int32
 21  인천광역        29658 non-null  int32
 22  전라남도        29658 non-null  int32
 23  전라북도        29658 non-null  int32
 24  제주특별        29658 non-null  int32
 25  충청남도        29658 non-null  int32
 26  충청북도        29658 non-null  int32
 27  강남구         29658 non-null  int32
 28  서초구         29658 non-null  int32
 29  송파구         29658 non-null  int32
 30  강남3구        29658 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 4.5+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46167 entries, 0 to 46166
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  46167 non-null  int64
 1   시군구         46167 non-null  object
 2   건축년도        46167 non-null  int64
 3   년월          46167 non-null  datetime64[ns]
 4   금액          46167 non-null  int64
 5   면적          46167 non-null  float64
 6   크기          46167 non-null  object
 7   서울          46167 non-null  int32
 8   대전          46167 non-null  int32
 9   강원도         46167 non-null  int32
 10  지역          46167 non-null  object
 11  경기도         46167 non-null  int32
 12  경상남도        46167 non-null  int32
 13  경상북도        46167 non-null  int32
 14  광주광역        46167 non-null  int32
 15  대구광역        46167 non-null  int32
 16  대전광역        46167 non-null  int32
 17  부산광역        46167 non-null  int32
 18  서울특별        46167 non-null  int32
 19  세종특별        46167 non-null  int32
 20  울산광역        46167 non-null  int32
 21  인천광역        46167 non-null  int32
 22  전라남도        46167 non-null  int32
 23  전라북도        46167 non-null  int32
 24  제주특별        46167 non-null  int32
 25  충청남도        46167 non-null  int32
 26  충청북도        46167 non-null  int32
 27  강남구         46167 non-null  int32
 28  서초구         46167 non-null  int32
 29  송파구         46167 non-null  int32
 30  강남3구        46167 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 7.0+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48571 entries, 0 to 48570
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  48571 non-null  int64
 1   시군구         48571 non-null  object
 2   건축년도        48571 non-null  int64
 3   년월          48571 non-null  datetime64[ns]
 4   금액          48571 non-null  int64
 5   면적          48571 non-null  float64
 6   크기          48571 non-null  object
 7   서울          48571 non-null  int32
 8   대전          48571 non-null  int32
 9   강원도         48571 non-null  int32
 10  지역          48571 non-null  object
 11  경기도         48571 non-null  int32
 12  경상남도        48571 non-null  int32
 13  경상북도        48571 non-null  int32
 14  광주광역        48571 non-null  int32
 15  대구광역        48571 non-null  int32
 16  대전광역        48571 non-null  int32
 17  부산광역        48571 non-null  int32
 18  서울특별        48571 non-null  int32
 19  세종특별        48571 non-null  int32
 20  울산광역        48571 non-null  int32
 21  인천광역        48571 non-null  int32
 22  전라남도        48571 non-null  int32
 23  전라북도        48571 non-null  int32
 24  제주특별        48571 non-null  int32
 25  충청남도        48571 non-null  int32
 26  충청북도        48571 non-null  int32
 27  강남구         48571 non-null  int32
 28  서초구         48571 non-null  int32
 29  송파구         48571 non-null  int32
 30  강남3구        48571 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 7.4+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55025 entries, 0 to 55024
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  55025 non-null  int64
 1   시군구         55025 non-null  object
 2   건축년도        55025 non-null  int64
 3   년월          55025 non-null  datetime64[ns]
 4   금액          55025 non-null  int64
 5   면적          55025 non-null  float64
 6   크기          55025 non-null  object
 7   서울          55025 non-null  int32
 8   대전          55025 non-null  int32
 9   강원도         55025 non-null  int32
 10  지역          55025 non-null  object
 11  경기도         55025 non-null  int32
 12  경상남도        55025 non-null  int32
 13  경상북도        55025 non-null  int32
 14  광주광역        55025 non-null  int32
 15  대구광역        55025 non-null  int32
 16  대전광역        55025 non-null  int32
 17  부산광역        55025 non-null  int32
 18  서울특별        55025 non-null  int32
 19  세종특별        55025 non-null  int32
 20  울산광역        55025 non-null  int32
 21  인천광역        55025 non-null  int32
 22  전라남도        55025 non-null  int32
 23  전라북도        55025 non-null  int32
 24  제주특별        55025 non-null  int32
 25  충청남도        55025 non-null  int32
 26  충청북도        55025 non-null  int32
 27  강남구         55025 non-null  int32
 28  서초구         55025 non-null  int32
 29  송파구         55025 non-null  int32
 30  강남3구        55025 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 8.4+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50636 entries, 0 to 50635
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50636 non-null  int64
 1   시군구         50636 non-null  object
 2   건축년도        50636 non-null  int64
 3   년월          50636 non-null  datetime64[ns]
 4   금액          50636 non-null  int64
 5   면적          50636 non-null  float64
 6   크기          50636 non-null  object
 7   서울          50636 non-null  int32
 8   대전          50636 non-null  int32
 9   강원도         50636 non-null  int32
 10  지역          50636 non-null  object
 11  경기도         50636 non-null  int32
 12  경상남도        50636 non-null  int32
 13  경상북도        50636 non-null  int32
 14  광주광역        50636 non-null  int32
 15  대구광역        50636 non-null  int32
 16  대전광역        50636 non-null  int32
 17  부산광역        50636 non-null  int32
 18  서울특별        50636 non-null  int32
 19  세종특별        50636 non-null  int32
 20  울산광역        50636 non-null  int32
 21  인천광역        50636 non-null  int32
 22  전라남도        50636 non-null  int32
 23  전라북도        50636 non-null  int32
 24  제주특별        50636 non-null  int32
 25  충청남도        50636 non-null  int32
 26  충청북도        50636 non-null  int32
 27  강남구         50636 non-null  int32
 28  서초구         50636 non-null  int32
 29  송파구         50636 non-null  int32
 30  강남3구        50636 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 7.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55493 entries, 0 to 55492
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  55493 non-null  int64
 1   시군구         55493 non-null  object
 2   건축년도        55493 non-null  int64
 3   년월          55493 non-null  datetime64[ns]
 4   금액          55493 non-null  int64
 5   면적          55493 non-null  float64
 6   크기          55493 non-null  object
 7   서울          55493 non-null  int32
 8   대전          55493 non-null  int32
 9   강원도         55493 non-null  int32
 10  지역          55493 non-null  object
 11  경기도         55493 non-null  int32
 12  경상남도        55493 non-null  int32
 13  경상북도        55493 non-null  int32
 14  광주광역        55493 non-null  int32
 15  대구광역        55493 non-null  int32
 16  대전광역        55493 non-null  int32
 17  부산광역        55493 non-null  int32
 18  서울특별        55493 non-null  int32
 19  세종특별        55493 non-null  int32
 20  울산광역        55493 non-null  int32
 21  인천광역        55493 non-null  int32
 22  전라남도        55493 non-null  int32
 23  전라북도        55493 non-null  int32
 24  제주특별        55493 non-null  int32
 25  충청남도        55493 non-null  int32
 26  충청북도        55493 non-null  int32
 27  강남구         55493 non-null  int32
 28  서초구         55493 non-null  int32
 29  송파구         55493 non-null  int32
 30  강남3구        55493 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 8.5+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55709 entries, 0 to 55708
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  55709 non-null  int64
 1   시군구         55709 non-null  object
 2   건축년도        55709 non-null  int64
 3   년월          55709 non-null  datetime64[ns]
 4   금액          55709 non-null  int64
 5   면적          55709 non-null  float64
 6   크기          55709 non-null  object
 7   서울          55709 non-null  int32
 8   대전          55709 non-null  int32
 9   강원도         55709 non-null  int32
 10  지역          55709 non-null  object
 11  경기도         55709 non-null  int32
 12  경상남도        55709 non-null  int32
 13  경상북도        55709 non-null  int32
 14  광주광역        55709 non-null  int32
 15  대구광역        55709 non-null  int32
 16  대전광역        55709 non-null  int32
 17  부산광역        55709 non-null  int32
 18  서울특별        55709 non-null  int32
 19  세종특별        55709 non-null  int32
 20  울산광역        55709 non-null  int32
 21  인천광역        55709 non-null  int32
 22  전라남도        55709 non-null  int32
 23  전라북도        55709 non-null  int32
 24  제주특별        55709 non-null  int32
 25  충청남도        55709 non-null  int32
 26  충청북도        55709 non-null  int32
 27  강남구         55709 non-null  int32
 28  서초구         55709 non-null  int32
 29  송파구         55709 non-null  int32
 30  강남3구        55709 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 8.5+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63469 entries, 0 to 63468
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  63469 non-null  int64
 1   시군구         63469 non-null  object
 2   건축년도        63469 non-null  int64
 3   년월          63469 non-null  datetime64[ns]
 4   금액          63469 non-null  int64
 5   면적          63469 non-null  float64
 6   크기          63469 non-null  object
 7   서울          63469 non-null  int32
 8   대전          63469 non-null  int32
 9   강원도         63469 non-null  int32
 10  지역          63469 non-null  object
 11  경기도         63469 non-null  int32
 12  경상남도        63469 non-null  int32
 13  경상북도        63469 non-null  int32
 14  광주광역        63469 non-null  int32
 15  대구광역        63469 non-null  int32
 16  대전광역        63469 non-null  int32
 17  부산광역        63469 non-null  int32
 18  서울특별        63469 non-null  int32
 19  세종특별        63469 non-null  int32
 20  울산광역        63469 non-null  int32
 21  인천광역        63469 non-null  int32
 22  전라남도        63469 non-null  int32
 23  전라북도        63469 non-null  int32
 24  제주특별        63469 non-null  int32
 25  충청남도        63469 non-null  int32
 26  충청북도        63469 non-null  int32
 27  강남구         63469 non-null  int32
 28  서초구         63469 non-null  int32
 29  송파구         63469 non-null  int32
 30  강남3구        63469 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 9.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62342 entries, 0 to 62341
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  62342 non-null  int64
 1   시군구         62342 non-null  object
 2   건축년도        62342 non-null  int64
 3   년월          62342 non-null  datetime64[ns]
 4   금액          62342 non-null  int64
 5   면적          62342 non-null  float64
 6   크기          62342 non-null  object
 7   서울          62342 non-null  int32
 8   대전          62342 non-null  int32
 9   강원도         62342 non-null  int32
 10  지역          62342 non-null  object
 11  경기도         62342 non-null  int32
 12  경상남도        62342 non-null  int32
 13  경상북도        62342 non-null  int32
 14  광주광역        62342 non-null  int32
 15  대구광역        62342 non-null  int32
 16  대전광역        62342 non-null  int32
 17  부산광역        62342 non-null  int32
 18  서울특별        62342 non-null  int32
 19  세종특별        62342 non-null  int32
 20  울산광역        62342 non-null  int32
 21  인천광역        62342 non-null  int32
 22  전라남도        62342 non-null  int32
 23  전라북도        62342 non-null  int32
 24  제주특별        62342 non-null  int32
 25  충청남도        62342 non-null  int32
 26  충청북도        62342 non-null  int32
 27  강남구         62342 non-null  int32
 28  서초구         62342 non-null  int32
 29  송파구         62342 non-null  int32
 30  강남3구        62342 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 9.5+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49576 entries, 0 to 49575
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  49576 non-null  int64
 1   시군구         49576 non-null  object
 2   건축년도        49576 non-null  int64
 3   년월          49576 non-null  datetime64[ns]
 4   금액          49576 non-null  int64
 5   면적          49576 non-null  float64
 6   크기          49576 non-null  object
 7   서울          49576 non-null  int32
 8   대전          49576 non-null  int32
 9   강원도         49576 non-null  int32
 10  지역          49576 non-null  object
 11  경기도         49576 non-null  int32
 12  경상남도        49576 non-null  int32
 13  경상북도        49576 non-null  int32
 14  광주광역        49576 non-null  int32
 15  대구광역        49576 non-null  int32
 16  대전광역        49576 non-null  int32
 17  부산광역        49576 non-null  int32
 18  서울특별        49576 non-null  int32
 19  세종특별        49576 non-null  int32
 20  울산광역        49576 non-null  int32
 21  인천광역        49576 non-null  int32
 22  전라남도        49576 non-null  int32
 23  전라북도        49576 non-null  int32
 24  제주특별        49576 non-null  int32
 25  충청남도        49576 non-null  int32
 26  충청북도        49576 non-null  int32
 27  강남구         49576 non-null  int32
 28  서초구         49576 non-null  int32
 29  송파구         49576 non-null  int32
 30  강남3구        49576 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 7.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41800 entries, 0 to 41799
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  41800 non-null  int64
 1   시군구         41800 non-null  object
 2   건축년도        41800 non-null  int64
 3   년월          41800 non-null  datetime64[ns]
 4   금액          41800 non-null  int64
 5   면적          41800 non-null  float64
 6   크기          41800 non-null  object
 7   서울          41800 non-null  int32
 8   대전          41800 non-null  int32
 9   강원도         41800 non-null  int32
 10  지역          41800 non-null  object
 11  경기도         41800 non-null  int32
 12  경상남도        41800 non-null  int32
 13  경상북도        41800 non-null  int32
 14  광주광역        41800 non-null  int32
 15  대구광역        41800 non-null  int32
 16  대전광역        41800 non-null  int32
 17  부산광역        41800 non-null  int32
 18  서울특별        41800 non-null  int32
 19  세종특별        41800 non-null  int32
 20  울산광역        41800 non-null  int32
 21  인천광역        41800 non-null  int32
 22  전라남도        41800 non-null  int32
 23  전라북도        41800 non-null  int32
 24  제주특별        41800 non-null  int32
 25  충청남도        41800 non-null  int32
 26  충청북도        41800 non-null  int32
 27  강남구         41800 non-null  int32
 28  서초구         41800 non-null  int32
 29  송파구         41800 non-null  int32
 30  강남3구        41800 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.4+ MB

100%|██████████| 12/12 [01:37<00:00,  8.10s/it]
100%|██████████| 4/4 [06:00<00:00, 90.24s/it]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45117 entries, 0 to 45116
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  45117 non-null  int64
 1   시군구         45117 non-null  object
 2   건축년도        45117 non-null  int64
 3   년월          45117 non-null  datetime64[ns]
 4   금액          45117 non-null  int64
 5   면적          45117 non-null  float64
 6   크기          45117 non-null  object
 7   서울          45117 non-null  int32
 8   대전          45117 non-null  int32
 9   강원도         45117 non-null  int32
 10  지역          45117 non-null  object
 11  경기도         45117 non-null  int32
 12  경상남도        45117 non-null  int32
 13  경상북도        45117 non-null  int32
 14  광주광역        45117 non-null  int32
 15  대구광역        45117 non-null  int32
 16  대전광역        45117 non-null  int32
 17  부산광역        45117 non-null  int32
 18  서울특별        45117 non-null  int32
 19  세종특별        45117 non-null  int32
 20  울산광역        45117 non-null  int32
 21  인천광역        45117 non-null  int32
 22  전라남도        45117 non-null  int32
 23  전라북도        45117 non-null  int32
 24  제주특별        45117 non-null  int32
 25  충청남도        45117 non-null  int32
 26  충청북도        45117 non-null  int32
 27  강남구         45117 non-null  int32
 28  서초구         45117 non-null  int32
 29  송파구         45117 non-null  int32
 30  강남3구        45117 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(22), int64(3), object(3)
memory usage: 6.9+ MB

In [33]:
df_r2.tail(20)

,지역,지역평균,소형평균,중형평균,대형평균,지역표준편차,소형표준편차,중형표준편차,대형표준편차,년월
16,충청북도,11422.000000,10018.000000,13185.000000,20892.000000,5404.000000,4405.000000,4549.000000,6601.000000,2009-11-01
17,전국,17231.684498,10652.883955,18361.622343,35650.704615,16257.420382,8333.461429,11942.606868,27585.681728,2009-11-01
0,강원도,10758.000000,5437.000000,12065.000000,24516.000000,7873.000000,2514.000000,4331.000000,6862.000000,2009-12-01
1,경기도,22566.000000,15209.000000,24702.000000,46634.000000,14541.000000,6777.000000,10820.000000,19813.000000,2009-12-01
2,경상남도,14446.000000,8106.000000,14492.000000,27487.000000,8560.000000,3381.000000,5234.000000,8969.000000,2009-12-01
3,경상북도,9403.000000,6219.000000,11545.000000,24244.000000,6427.000000,2162.000000,4426.000000,9442.000000,2009-12-01
4,광주광역,13381.000000,6936.000000,13647.000000,24371.000000,8178.000000,2055.000000,4499.000000,8494.000000,2009-12-01
5,대구광역,16371.000000,8630.000000,16262.000000,31721.000000,11220.000000,2593.000000,5050.000000,15031.000000,2009-12-01
6,대전광역,16123.000000,8775.000000,16706.000000,28408.000000,9291.000000,3269.000000,5186.000000,11350.000000,2009-12-01
7,부산광역,16995.000000,9668.000000,16368.000000,31132.000000,10623.000000,3932.000000,5841.000000,12512.000000,2009-12-01
8,서울특별,52079.000000,33153.000000,50611.000000,100040.000000,40849.000000,17152.000000,23903.000000,66559.000000,2009-12-01
9,세종특별,19198.000000,5901.000000,19241.000000,30054.000000,10269.000000,1842.000000,5355.000000,6772.000000,2009-12-01
10,울산광역,15004.000000,8936.000000,15954.000000,34058.000000,10146.000000,3384.000000,6102.000000,15041.000000,2009-12-01
11,인천광역,18247.000000,13175.000000,22412.000000,34237.000000,8959.000000,4453.000000,5472.000000,12455.000000,2009-12-01
12,전라남도,9231.000000,5447.000000,10738.000000,18986.000000,4172.000000,1984.000000,2228.000000,7441.000000,2009-12-01
13,전라북도,10038.000000,5873.000000,11893.000000,23596.000000,7385.000000,2118.000000,4545.000000,7650.000000,2009-12-01
14,제주특별,11904.000000,6297.000000,13072.000000,23106.000000,7923.000000,3375.000000,5139.000000,11914.000000,2009-12-01
15,충청남도,14429.000000,8803.000000,18109.000000,27787.000000,8753.000000,4015.000000,6836.000000,8685.000000,2009-12-01
16,충청북도,9516.000000,6072.000000,11597.000000,22234.000000,6500.000000,2933.000000,4638.000000,7834.000000,2009-12-01
17,전국,18413.414611,11198.421931,19356.989641,37724.700963,18950.472238,9570.884917,14180.078080,33029.816494,2009-12-01

In [35]:
  #수정된 파일 새경로에 저장하기
df_r2.to_excel(("timeseries/timeseries1.xlsx"))